.logg {
  /*border: 3px solid black;*/
  width: 50%;
  float: left;
}
.status {
  /*border: 3px solid black;*/
  text-align: center;
  /*float: right;*/
}
.btn {
  /*border: 3px solid blue;*/
  /*padding: 20px 5px 10px 20px;*/

  /*padding-top: 10px;*/
  /*width: 30%;*/
  /*float: right;*/
}
.btn input[type="submit"]{
  width: 40%;
  height: 7em;
  margin: 2em 1em 2em 2em;
  background-color: #dff0d8;
  border: 2px solid #cccccc;
  border-radius: 10px;
}

.btn input[name="lamp"]{
  /*border: 3px solid blue;*/
  margin: 5em 2em 1em;
  height: 3em;
  background-color: #d9edf7;
}
.lamp{
  clear: both;
}
.control {
  width: 40%;
  float: right;
  border: 2px dashed #dff0d8;
  /*border: 3px solid black;*/
}
